@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 4px 10px;

}

input:focus{
  outline: none;
}